
* {
	box-sizing:border-box;
	margin:0;
	padding:0;
}

body {
	font-size:18px;
	font-family:Calibri,Arial;

}

.header {
	width:1140px;
	margin:20px auto 10px auto;
	padding:30px;
	font-size:40px;
	text-align:center;
	background-image:url(bg-image.jpg);
	background-size:cover;
}

.container {
	width:1140px;
	margin:20px auto 10px auto;
	position:relative;
}

.article {
	width:75%;
	display:inline-block;
	float:left;
	padding-right:30px;
}

.clearfix {
	content:"";
	display:table;
	clear:both;
}

h1,h2 {
	color:#F28F0C;
}

h1 {
	font-size:40px;
	margin-bottom:20px;
}

h2 {
	font-size:30px;
	margin-bottom:10px;
}


.article-text {
	text-align:justify;
	margin:20px 0;
}

.article-image {
	height:auto;
	width:100%;

}

.other-posts {
	width:25%;
	margin:20% auto 0 auto;
	display:inline-block;
}

.blog-post {
	margin-bottom:50px;
}
.other-posts img {
	width:80%;
	height:300px;
}

.other-title {
	font-size:16px;
	color:#F28F0C;
	text-decoration:none;
	text-transform:uppercase;
}

.footer-image {
	height:100px;
	width:100px;
	border-radius:50%;
	float:left;
}

.footer-heading {
	border-top: 1px solid #808080;
}

.footer p {
	width:60%;
	margin-left:20px;
	text-align:justify;
	display:inline-block;
}

.social-link {
	width:20px;
	height:20px;
	margin:5px;
}

.social-media {
	position:fixed;
	top:10px;
	right:2px;
}




